@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
#talk-with-us-text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #767676;
}

#sign-up-button {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #1b5060;
    width: 122px;
    height: 45px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    border: 0;
}